.feature {
  max-width: 75%;
  max-height: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.icon {
  font-size: 75px;
  padding-top: 20px;
}

.mgmt {
  padding-top: 30px;
  font-weight: bold;
}

.center {
  text-align: center;
}

.color-override {
  color: black;
}